[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/ne75/llvm-project.git
[submodule "loadp2"]
	path = loadp2
	url = https://github.com/ne75/loadp2.git
[submodule "p2db-rs"]
	path = p2db-rs
	url = git@github.com:ne75/p2db-rs.git
